html {
  background-color: whitesmoke;
  font-family: "Raleway";
}

body {
  margin: 0;
}

/*divider*/
.break {
  background-color: #a4cef0;
  width: 100%;
  height: 50px;
}

.heading {
  margin-bottom: 8px;
}

footer {
  background-color: #a4cef0;
  padding: 50px 25%;
}

.banner {
  padding: 100px 25%;
  padding-top: 30vh;
}

.pillar {
  padding: 0 25%;
}

.letter {
  padding: 100px 0;
}

.box {
  padding: 20px 15%;
}

.pod {
  background-color: white;
  border-radius: 10px;
  padding: 100px 10%;
  margin: 20px;
}

.divider {
  padding: 10% 0;
}

.space {
  height: 50px;
  width: 100%;
}

.hometext {
  font-size: 40px;
}

.subtext {
  padding: 30vh 0;
  font-size: 25px;
}

.homeflex {
  display: flex;
  justify-content: space-between;
}

.aboutflex {
  display: flex;
  justify-content: space-around;
}

.hometitle {
  padding: 20vh 0;
}

.white {
  color: white;
}

.right {
  float: right;
}

.container {
  width: 100%;
  /* Full width */
  background-color: #ddd;
  /* Grey background */
  border-radius: 5px;
}

.skills {
  text-align: right;
  /* Right-align text */
  padding: 1px;
  /* Add some padding */
  color: white;
  /* White text color */
  border-radius: 5px;
}

.flex {
  display: flex;
}

.flexbetween {
  justify-content: space-between;
}

.centertext {
  text-align: center;

}

.center {
  display: flex;
  justify-content: center;
}

.ninety {
  width: 90%;
  background-color: #4CAF50;
}

.eighty {
  width: 80%;
  background-color: rgb(104, 175, 76);
  ;
}

.seventy {
  width: 70%;
  background-color: rgb(134, 165, 77);
}

.sixty {
  width: 60%;
  background-color: rgb(173, 175, 76);
}

.fifty {
  width: 50%;
  background-color: rgb(162, 163, 74);
}


/*button*/
button {
  background-color: #222;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: aqua;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  font-family: "Raleway";
  margin: 20px;
  text-decoration: white
}

button:hover {
  color: whitesmoke;
  background-color: grey;
}

button a {
  color: white;
  text-decoration: none;
}

/* nav */
nav {
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
}

#logo {
  position: fixed;
  top: 0;
  float: left;
  width: 50px;
  height: auto;
  margin-left: 20%;
  margin-top: 10px;

}

#profile {
  width: 100%;
  height: auto;
  padding: 20px
}

#icon {
  width: 10%;
  height: 100%;

}

.gap {
  height: 60px;
  width: 20%;
}

li button {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/*backgrounds*/
.dotbg {
  background-color: whitesmoke;
  background-image: url("img/jdotbg.png");
}

.bluebg {
  background-image: url("img/blue.jpg");
  background-color:  #2e3241;
  background-blend-mode: overlay;
}

/* table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/*forms*/
.form {
  width: 0 20%
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 3px solid #555;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=password]:focus {
  border: 3px solid #555;
}

/*being shady*/
div.hidden {
  display: none;
}

/*dropdown*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.show {
  display: block;
}

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  background-image: url("img/jdotb.png");
  background-size: cover;
  animation: load8 2s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 700px) {
  .pillar {
    padding: 0 10%;
  }

  .box {
    padding: 100px 5%;
  }

  .pod {
    padding: 100px 5%;
  }
}